<%= render 'users/video_header' %>


<div class="top-video">
	<div class="top-video-head">
		<div class="space"></div>
			<div class="top-contents">
				<div class="top-main-field clearfix">
					<div class="top-image-field">
						<div class="top-image-text clearfix">

						</div>







					</div>
				</div>
			</div>
	</div>
				<div class="top-main-visual">
					<div class="top-main-contents">
						<div class="pick-up-video"><i class="material-icons pick-up-icon">live_tv</i> Pick Up Video <i class="material-icons pick-up-icon">live_tv</i></div>
					</div>
				</div>
</div>