<%= render 'users/video_header' %>


<div class="top-video">
<div class="space"></div>
	<div class="top-contents">
		<div class="top-main-field clearfix">
			<div class="top-image-field">
				<div class="top-image-text clearfix">
				写真入れたい
				写真のうえに文字
				</div>







			</div>
		</div>
		<div class="top-main-visual">
			<div class="top-main-contents">
				<div class="pick-up-video">ピックアップ動画 お気に入りに登録したジャンルの動画表示</div>
			</div>
		</div>
	</div>
</div>