<header>
	<div class="header-menu-ad clearfix">
		<div class="site-name-ad">
			<%= link_to top_ad_path do %>
				<div class="sports-site-ad">S S H</div>
			<% end %>
		</div>

		<div class="header-nav-box-ad clearfix">
			<% if admin_signed_in? %>
				<%= link_to new_tag_path, class: "admin-page-path" do %>
					Admin Page
				<% end %>
				<%= link_to destroy_admin_session_path, class: "admin-logout-path", method: :delete, data: {confirm: "Are you sure you want to log out?"} do %>
					Log Out
				<% end %>
			<% else %>

			<% end %>

		</div>

	</div>
</header>