<%= render 'admins/ad_header' %>

<div class="tag-merger">
	<div class="space"></div>
	<div class="tag-merger-contents clearfix">
		<div class="tag-merger-title">スポーツジャンル</div>
		<div class="tag-merger-text clearfix">
		</div>
	</div>
</div>