<%= render 'admins/ad_header' %>

<div class="top-video-ad">
	<div class="top-image-field-ad">
		<div class="space"></div>
		<div class="top-image-text-ad clearfix">
			user側のトップページと同じ　背景が写真になる 動画一覧にする 動画から直接詳細画面へ
		</div>







	</div>
	<div class="top-main-visual-ad">
		<div class="top-main-contents-ad">
			<div class="pick-up-video-ad"><i class="material-icons pick-up-icon-ad">live_tv</i> Informed Video <i class="material-icons pick-up-icon-ad">live_tv</i></div>
		</div>
	</div>
</div>

