<%= render 'admins/ad_header' %>

<div class="top-video-ad">
<div class="space"></div>
	<div class="top-contents-ad">
		<div class="top-main-field-ad clearfix">
			<div class="top-image-field-ad">
				<div class="top-image-text-ad clearfix">
					if文で表示をわける
				</div>







			</div>
		</div>
		<div class="top-main-visual-ad">
			<div class="report-video">
				<h1>通報された動画</h1>
				<h4>詳細はないので削除ボタンの表示動画のみではなく、名前、プロフィール画像の表示。</h4>
			</div>
		</div>
	</div>
</div>

