



a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}




/*sign_up*/
.signup-page-ad {
	width:100%;
	min-height:850px;
	background-image:url('/images/047.jpg');
	background-size: cover;
}
.signup-contents-ad {
	font-size:20px;
	margin:0 200px;
	color:white;
	font-family: verdana;
	font-weight: 600;
}
.admin-signup-title {
	font-family: verdana;
	font-size: 90px;
	font-weight: 600;
}
.signup-text-ad {
	margin-top: 50px;
}
.signup-name-field-ad {
	font-size: 30px;
}
.signup-email-field-ad {
	margin-top: 20px;
	font-size: 30px;
}
.signup-password-field-ad {
	margin-top: 20px;
	font-size: 30px;
}
.signup-password-con-field-ad {
	margin-top: 20px;
	font-size: 30px;
}
.field-signup-submit-ad {
	margin-top: 10px;
}
.login-path-button-ad {
	color:white;
	font-size: 30px;
}
.login-path-button-ad:hover {
	opacity:0.4;
}



/*Log_in*/
.login-page-ad {
	width:100%;
	min-height:850px;
	background-image: url('/images/047.jpg');
	background-size: cover;
}
.login-contents-ad {
	margin: 0 200px;
	font-size:20px;
	font-family: verdana;
	color:white;
	font-weight: 600;
}
.admin-login-title {
	font-family: verdana;
	font-size: 90px;
	font-weight:600;
}
.login-text-ad {
	margin-top: 50px;
}
.field-login-email-ad {
	font-size: 30px;
}
.field-login-password-ad {
	font-size: 30px;
}
.field-login-remember-ad {
	font-size: 20px;
}
.signup-path-button-ad{
	color:white;
	font-size: 30px;
}
.signup-path-button-ad:hover {
	opacity:0.4;
}
.forgot-password-button-ad {
	color:orange;
}
.forgot-password-button-ad:hover {
	opacity:0.5;
}



/*top_ad*/
.top-video-ad {
	width:100%;
}
.top-image-field-ad {
	min-height: 850px;
	background-image: url('/images/033.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.top-main-field-ad {
	width:100%;
	height:700px;
}
.top-image-text-ad {
	margin:0 100px;
	padding-top: 130px;
	font-family: verdana;
	font-weight: 900;
	font-variant: small-caps;
	font-size: 100px;
	color: white;
}
.top-image-text2-ad {
	margin:0 200px;
	font-family: verdana;
	font-weight: 900;
	font-variant: small-caps;
	font-size: 100px;
	color: white;
}
.top-image-text3-ad {
	margin:0 300px;
	font-family: verdana;
	font-weight: 900;
	font-variant: small-caps;
	font-size: 100px;
	color: white;
}
.top-image-text4-ad {
	width:80%;
	margin: 250px 350px 0 350px;
	text-align: center;
	font-size: 30px;
	color:white;
}
.top-main-visual-ad {
	width:100%;
}
.top-main-contents-ad {
	margin: 0 150px 100px 150px;
}
.pick-up-video-ad {
	font-size: 50px;
	font-family: verdana;
	text-align:center;
	color: #606363;
	margin-top: 30px;
	font-style: italic;
}
.material-icons.pick-up-icon-ad {
	font-size: 30px;
}
.top-video-text-ad {
	margin-top: 40px;
}
.top-video-name-ad {
	font-size: 40px;
	color: black;
	margin:0 150px 20px 150px;
}
.top-video-film-ad {
	text-align: center;
}
.top-video-tag-ad {
	font-size: 20px;
	margin:0 auto;
	width: 40%;
	text-align: right;
}
.top-video-user-ad {
	width:50%;
	margin:0 auto;
	text-align:left;
}
.top-video-information-ad {
	color:#7a7a7c;
	padding:10px 20px 0 20px;
	width:45%;
	margin:0 auto;
}
.article-delete-button {
	width:40%;
	margin:0 auto;
	text-align:right;
}
.article-delete {
	color: #a966f4;
}
.article-delete:hover {
	color:orange;
}
.top-admin-new {
	margin:0 auto;
	width:70%;
	text-align: center;
	padding-top:200px;
}
.admin-sign-new {
	color:white;
	font-size: 50px;
	font-family: serif;
	border: solid 1px white;
	padding:10px;
	margin-right: 2px;
}
.admin-sign-new:hover {
	opacity:0.7;
}
.admin-log-in {
	color:white;
	font-size: 50px;
	font-family: serif;
	border: solid 1px white;
	padding:10px;
}
.admin-log-in:hover {
	opacity:0.7;
}






/*ad_header*/
.header-nav-box-ad {
	text-align: right;
	float:left;
	width:60%;
	padding:25px;
}
.material-icons.admin-nav-icon {
	display:inline-block;
	padding:15px 20px 15px 20px;
	font-size: 50px;
	color:black;
}
.material-icons.admin-nav-icon:hover {
	color:orange;
}
.site-name-ad {
	padding:5px;
	margin:10px;
	float:left;
	width: 30%;
	font-size:40px;
	font-style: italic;
}
.sports-site-ad {
	width:160px;
	color:white;
	margin-left: 50px;
	font-family: impact;
	border: solid 1px white;
	background-color:#4b4d4f;
	text-align: center;
	padding:10px;
}
.sports-site-ad:hover {
	color:orange;
}
.admin-page-path {
	font-size: 30px;
	padding:15px;
	color: black;
}
.admin-page-path:hover {
	color: orange;
}
.admin-logout-path {
	font-size: 30px;
	padding:15px 10px 10px 40px;
	color:black;
}
.admin-logout-path:hover {
	color:orange;
}







/*new_tag*/
.admin-page {
	width:100%;
	/*background-image: url('/images/024.jpg');*/
	background-size:cover;
	max-height:1500px;
	min-height:850px;
	margin: 50px;
}
.admin-contents {
	margin: 0 100px;
}
.admin-title {
	font-size: 50px;
	font-family:verdana;
	margin-bottom: 30px;
/*	color:white;*/
	font-style: italic;
}
.admin-text {
	margin:20px 60px;
}
.table-name {
	font-size: 20px;
	padding-right: 110px;
	/*color:white;*/
	font-style: italic;
}
.table-email {
	font-size: 20px;
	padding-right: 80px;
	/*color:white;*/
	font-style: italic;
}
.table-control {
	font-size: 20px;
	padding-left: 50px;
	/*color:white;*/
	font-style: italic;
}
.table-name-ad {
	font-size: 30px;
/*	color:white;*/
}
.table-email-ad {
	/*color:white;
*/}
.table-edit-ad {
	padding-left: 50px;
	color:orange;
}
.table-edit-ad:hover {
	color: #a966f4;
}
.table-delete-ad {
	color:#a966f4;
}
.table-delete-ad:hover {
	color:orange;
}



.tag-page {
	width:100%;
}
.tag-page-contents {
	margin:50px auto;
	width:90%;
}
.new-tag {
	width:40%;
	float:left;
	margin: 10px 30px;
}
.new-tag-title {
	font-size: 50px;
	font-family: verdana;
	font-style: italic;
}
.new-tag-text {
	margin: 20px;
}
.new-tag-name {
	font-size: 30px;
	font-style: italic;
}
.tag-new-button {
	width:150px;
}
.index-tag {
	width:50%;
	float:left;
	margin:10px 0 0 50px;
}
.index-tag-title {
	font-size: 50px;
	font-family: verdana;
	font-style: italic;
}
.table-admin {
	margin-top: 30px;
}
.tag-table-name-ad {
	width:50%;
	margin:0 auto;
	font-size: 20px;
}
.tag-table-control-ad {
	font-size: 20px;
}
.tag-table-name {
	font-size: 20px;
}
.tag-table-control {
	font-size: 20px;
	text-align:left;
}
.delete-tag-button {
	color:#a966f4;
	margin-left: 150px;
}
.delete-tag-button:hover {
	color:orange;
}














/*edit_admin*/
.edit-admin {
	width:100%;
}
.edit-admin-title {
	font-size: 50px;
	font-family: verdana;
}
.edit-admin-contents {
	margin:0 200px;
}
.edit-admin-text {
	margin: 20px;
}
.edit-admin-name {
	font-size: 30px;
}
.edit-admin-email {
	font-size: 30px;
}
.edit-admin-password {
	font-size: 30px;
}
.admin-edit-button {
	width:150px;
}





