a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}




/*top_ad*/
.top-video {
	width:100%;
}
.top-image-field-ad {
	min-height: 850px;
	background-image: url('/images/033.jpg');
	background-size: cover;
}
.top-main-visual-ad {
	margin:0 100px;
}


/*ad_header*/
.header-menu-ad {
	width:100%;
	height:100px;
	position:absolute;

}
.header-nav-box-ad {
	height: 50px;
	text-align: right;
	float:left;
	width:60%;
	padding:10px;
}
.material-icons.admin-nav-icon {
	display:inline-block;
	padding:15px 20px 15px 20px;
	font-size: 50px;
	color:black;
}
.material-icons.admin-nav-icon:hover {
	color:orange;
}
.site-name-ad {
	padding:20px;
	float:left;
	width: 30%;
	font-size:40px;
}
.sports-site {
	width:120px;
	color:black;
}
.sports-site:hover {
	color:orange;
}












/*admin_member_ad*/
.admin-contents {
	margin: 0 100px;
}
.admin-title {
	font-size: 50px;
	font-family:verdana;
	margin-bottom: 30px;
}
.admin-text {
	margin:20px 60px;
}
.table-name {
	font-size: 20px;
	padding-right: 50px;
}
.table-email {
	font-size: 20px;
}
.table-control {
	font-size: 20px;
	padding-left: 50px;
}
.table-name-ad {
	font-size: 30px;
}
.table-edit {
	padding-left: 50px;
}