
/*top*/
h1 {
	color:red;
}
.top-user {
	background-color: #878a8e;
}
.top-image-field {
	background-color: #232d3a;
	height:100px;
	width:100%;
}
.top-main-visual {
	height:200px;
	width:100%;
	background-color: #5b89c6;
}