

header {
	width:100%;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/*Log_in,sign_up*/
.login-page {
	width:100%;
	text-align: center;
}
.login-contents {
	margin: 0 200px;
	font-size:20px;
	font-family: serif;
}
.title {
	font-family: verdana;
	font-size: 70px;
}
.signup-page {
	width:100%;
	text-align:center;
}
.signup-contents {
	font-size:20px;
	font-family: serif;
	margin:0 200px;
}


/*user_header*/
.header-menu {
	width:100%;
	height:100px;
	position:absolute;

}
.header-nav-box {
	height: 50px;
	text-align: right;
	float:left;
	width:60%;
	padding:10px;
}
.site-name {
	padding:20px;
	float:left;
	width: 30%;
	font-size:40px;
}
.site-name:hover {
	color:orange;
}
.sports-site {
	width:160px;
	color:black;
	margin-left: 50px;
}
.sports-site:hover {
	color:orange;
}
.material-icons.user-nav-icon {
	padding:15px 20px 15px 20px;
	display:inline-block;
	color: black;
	font-size: 50px;
}
.material-icons.user-nav-icon:hover {
	color: orange;
}


/*top_video*/
.top-video {
	width:100%;
}
.top-video-head {
	background-image: url('/images/033.jpg');
	background-size: cover;
	min-height: 850px;
}
.top-main-field {
	width:100%;
	height:700px;
}
.top-image-field {
	height:500px;
	width:100%;
}
.top-main-visual {
	height:200px;
	width:100%;
}
.top-main-contents {
	margin: 0 100px;
}
.pick-up-video {
	font-size: 50px;
	font-family: verdana;
	text-align:center;
	color: #606363;
	margin-top: 30px;
}
.material-icons.pick-up-icon {
	font-size: 40px;
}




/*new_video*/
.new-video {
	background-image: url('/images/023.jpg');
	background-size: cover;
	height:900px;
}
.video-contents {
	margin:200px 200px 0 200px;
	text-align:left;
}
.new-title {
	font-family: verdana;
	font-size: 50px;
	color:white;
}
.new-video-text {
	margin: 5px 0 0 20px;
}
.new-video-title {
	font-size: 20px;
	color:white;
}
.new-video-name {
	font-size: 20px;
	color:white;
}
.new-video-information {
	font-size: 20px;
	color:white;
}
.new-video-button {
	width:100px;
	height: 50px;
	color: orange;
	background-color: white;
}

/*index_video*/
.index-video {
	width:100%;
}
.index-video-contents {
	margin:0 150px;
}
.index-video-title {
	font-size: 50px;
	font-family: verdana;
}



/*show_video*/



/*mypage*/
.mypage {
	width:100%;
	background-image: url('/images/028.jpg');
	background-size: cover;
	min-height: 900px;
}
.mypage-title {
	font-size:50px;
	font-family: verdana;
	text-align:left;
	margin:0 30px;
}
.mypage-text {
	border: solid 1px #7a7b7c;
	padding: 20px;
}
.user-image {
	height:250px;
	width:250px;
	border-radius: 50% 50%;
	margin:30px auto;
}
.user-name {
	margin:30px;
	font-size:30px;
	text-align: center;
	font-family: serif;
}
.user-email {
	margin:10px;
	font-size:20px;
	font-family:serif;
}
.user-edit-button {
	display:block;
	text-align: center;
	margin:5px;
	font-size: 20px;
}
.under {
	border: solid 1px #7a7b7c;
}
.mypage-contents {
	margin:0 60px;
}
.mypage-text {
	float:left;
	margin:30px;
	width:30%;
	background-color:white;
}
.mypage-history {
	float:left;
	margin:30px;
	width:55%;
}
.mypage-history-title {
	font-size: 40px;
	font-family:verdana;
}
.mypage-history-contents {
	background-color: white;
}
.material-icons.edit-nav-icon {
	color: black;
	font-size: 40px;
}
.material-icons.edit-nav-icon:hover {
	color: orange;
}


/*edit_user*/
.mypage-edit-contents {
	margin: 0 120px;
}

.mypage-edit-title {
	font-size: 50px;
	font-family: verdana;
}
.mypage-edit-text {
	margin:20px;
	width:45%;
	float:left;
}
.edit-image {
	font-size: 30px
}
.edit-name {
	font-size: 30px;
}
.edit-email {
	font-size: 30px;
}
.edit-password {
	font-size: 30px;
}
.mypage-edit-button {
	width: 150px;
}
.mypage-edit-button:hover {
	opacity: 0.6;
}
.edit-button-user {
	padding:10px;
}
.logout-button-user {
	color: #a966f4;
	width: 160px;
}
.logout-button-user:hover {
	color:orange;
}
.mypage-edit-post {
	float:left;
	margin:0 auto;
}
.edit-post-title {
	font-size: 40px;
	font-family: verdana;
}




