html,body {
	height:100%;
}




/*article*/
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}






/*user*/
header {
	width:100%;
	position:fixed;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/*Log_in,sign_up*/
.login-page {
	width:100%;
	text-align: center;
}
.login-contents {
	margin: 0 200px;
	font-size:20px;
	font-family: serif;
}
.title {
	font-family: verdana;
	font-size: 70px;
}
.signup-page {
	width:100%;
	text-align:center;
}
.signup-contents {
	font-size:20px;
	font-family: serif;
	margin:0 200px;
}


/*user_header*/
.header-menu {
	width:100%;
	height:100px;
	position:absolute;

}
.header-nav-box {
	height: 50px;
	text-align: right;
	float:left;
	width:60%;
	padding:10px;
}
.site-name {
	padding:20px;
	float:left;
	width: 30%;
	font-size:40px;
}
.site-name:hover {
	color:orange;
}
.sports-site {
	width:160px;
	color:black;
	margin-left: 50px;
}
.sports-site:hover {
	color:orange;
}
.material-icons.user-nav-icon {
	padding:15px 20px 15px 20px;
	display:inline-block;
	color: black;
	font-size: 50px;
}
.material-icons.user-nav-icon:hover {
	opacity: 0.2;
}
.header-mypage {
	padding: 15px 20px 0 20px;
}
.profile-img-responsive-header {
	margin:0 auto;
	border-radius: 50% 50%;
	margin:0 0 3px 10px;
}
.profile-img-responsive-header:hover {
	opacity: 0.2;
}



/*top_video*/
.top-video {
	width:100%;
}
.top-video-head {
	background-image: url('/images/033.jpg');
	background-size: cover;
	background-attachment: fixed;
	min-height: 850px;
}
.top-main-field {
	width:100%;
	height:700px;
}
.top-image-text {
	margin:50px 100px 0 100px;
	font-family: verdana;
	font-size: 100px;
	color: white;
}
.top-main-visual {
	width:100%;
}
.top-main-contents {
	margin: 0 100px;
}
.pick-up-video {
	font-size: 50px;
	font-family: verdana;
	text-align:center;
	color: #606363;
	margin-top: 30px;
}
.top-video-text {
	margin:40px 0 40px 0;
}
.top-video-contents {
	text-align:center;
}
.top-video-name {
	font-size: 40px;
	color: black;
	margin:0 250px 30px 0;
}
.top-video-name:hover {
	color: #11549b;
}
.top-video-tag {
	font-size: 20px;
	margin-left: 400px;
}
.top-video-user {
	width:40%;
	margin:0 auto;
	text-align:left;
}
.top-video-information {
	color:#7a7a7c;
	padding:10px 20px 0 20px;
	width:40%;
	margin:0 auto;
}
.material-icons.pick-up-icon {
	font-size: 30px;
}




/*new_video*/
.new-video {
	background-image: url('/images/040.jpg');
	background-size: cover;
	height:900px;
	width:100%;
}
.video-contents {
	margin:150px 200px 0 200px;
	text-align:left;
}
.new-title {
	font-family: verdana;
	font-size: 50px;
	color:white;
}
.new-video-text {
	margin: 5px 0 0 20px;
}
.new-video-title {
	font-size: 20px;
	color:white;
	margin-top:20px;
}
.new-video-name {
	font-size: 20px;
	color:white;
	margin-top: 30px;
}
.new-video-information {
	font-size: 20px;
	color:white;
	margin-top:30px;
}
.new-video-button {
	width:100px;
	height: 50px;
	color: black;
}
.new-video-button:hover {
	opacity: 0.8;
}
.new-video-tag-field {
	color:white;
}
.new-video-tag-title {
	font-size: 20px;
	color:white;
	margin-top:30px;
}
.material-icons.new-video-icon {
	font-size: 30px;
}



/*index_video*/
.index-video {
	width:100%;
}
.index-video-top {
	margin:0 100px;
}
.index-video-contents {
	margin:0 150px;
}
.index-video-title {
	font-size: 50px;
	font-family: verdana;
	margin: 0 0 30px 130px;
}
.index-video-tag-menu {
	margin: 10px;
}
.index-video-tag-name {
	font-size: 10px;
	margin-left: 20px;
	padding:5px;
	background-color: #d5d5d5;
}
.index-video-text {
	float:left;
	margin:20px 10px 20px 10px;
	background-color: #ccced1;
	padding: 10px;
}
.index-video-film {
	display:inline-block;
}
.index-video-name {
	font-size: 20px;
	color:black;
}
.index-video-name:hover {
	color:#11549b;
}
.index-video-information {
	color:#7a7a7c;
}
.index-video-tag {
	text-align: right;
}
.material-icons.index-video-icon {
	font-size:30px;
}



/*show_video*/
.show-header-menu {
	width:100%;
	height:100px;
	position:absolute;

}
.show-header-nav-box {
	height: 50px;
	text-align: right;
	float:left;
	width:60%;
	padding:10px;
}
.show-site-name {
	padding:20px;
	float:left;
	width: 30%;
	font-size:40px;
}
.show-sports-site {
	width:160px;
	color:white;
	margin-left: 50px;
}
.show-sports-site:hover {
	opacity: 0.2;
}
.material-icons.show-nav-icon {
	padding:15px 20px 15px 20px;
	display:inline-block;
	color: white;
	font-size: 50px;
}
.material-icons.show-nav-icon:hover {
	opacity: 0.2;
}
.show-header-mypage {
	padding: 15px 20px 0 20px;
}
.show-profile-img-responsive-header {
	margin:0 auto;
	border-radius: 50% 50%;
	margin:0 0 3px 10px;
}
.show-profile-img-responsive-header:hover {
	opacity: 0.2;
}

.show-video {
	width:100%;
	background-image: url('/images/042.jpg');
	background-size: cover;
	min-height:900px;
}
.show-video-contents {
	margin:60px 30px 30px 30px;
}
.show-video-film {
	display:inline;
	float:left;
	margin-left: 150px;

}
.show-video-text {
	float:left;
	margin-left: 100px;
}
.show-video-title {
	text-align: center;
	font-size: 50px;
	margin-top:20px;
	color:white;
}
.show-video-information {
	font-size: 20px;
	margin: 10px 0 10px 0;
	color: gray;
}
.show-video-poster-name {
	font-size: 20px;
	color: #a2a4a5;
}
.show-video-tag {
	color:white;
	font-size: 30px;
	text-align: right;
}
.comment-list-title {
	color:white;
	margin: 40px 0 20px 0;
}
.show-comment-text {
	width: 80%;
	margin:0 auto;
}
.commentator-name {
	color:#d5d5d5;
	margin-top:10px;
	font-size: 10px
}
.commentator-comment {
	color:#d5d5d5;
	font-size: 25px;
	padding:0 10px 0 10px;
}
.border {
	border: solid 1px #d5d5d5;
}

.comment-title {
	color:white;
	margin-top: 50px;
}
.post-comment-button:hover {
	opacity:0.8;
}
.inform-button {
	color: #a966f4;
	font-size: 20px;
	width: 90%;
	margin:0 auto;
	text-align: center;
}
.show-video-play {
	display:block;
	position: absolute;
}
.material-icons.play-button {
	opacity:0.6;
	color:white;
	font-size: 200px;
	margin: 34px 156px;
}
.material-icons.play-button:hover {
	opacity: 0.4;
}








/*mypage*/
.mypage {
	width:100%;
	min-height: 900px;
}
.mypage-title {
	font-size:50px;
	font-family: verdana;
	text-align:left;
	margin:0 30px 0 120px;
}
.mypage-text {
	padding: 20px;
	margin:30px;
	width:30%;
	float:left;
/*	background-color: #d5d5d5;*/
}
.user-image {
	height:250px;
	width:250px;
	margin:30px auto;
}
.profile-img-responsive {
	border-radius: 50% 50%;
}
.user-name {
	margin:10px;
	font-size:30px;
	text-align: center;
	font-family: verdana;
}
.user-email {
	margin:10px;
	font-size:20px;
	font-family:verdana;
	text-align: center;
}
.user-edit-button {
	display:block;
	text-align: center;
	margin-top:5px;
	font-size: 20px;
}
.material-icons.edit-nav-icon {
	color:black;
	font-size: 40px;
}
.material-icons.edit-nav-icon:hover {
	color: orange;
}
.under {
	border: solid 1px #7a7b7c;
}
.mypage-contents {
	margin:0 60px;
}
.mypage-edit-post {
	float:left;
	margin: 90px 90px 20px 30px;
}
.edit-post-title {
	font-size: 40px;
	font-family: verdana;
	margin:10px;
	text-align:center;
}
.edit-video-text {
	background-color: #ccced1;
	margin-top: 20px;
}
.edit-video-name {
	font-size: 30px;
	text-align: center;
	color:black;
}
.edit-video-name:hover {
	color:#11549b;
}
.edit-video-tag {
	text-align: right;
	padding-right:10px;
}
.edit-video-information {
	padding:10px;
	font-size: 10px;
	color:#7a7a7c;
}
.edit-video-film {
	margin:10px;
}
.edit-video-destroy {
	text-align: right;
	padding-right:10px;
	color: #a966f4;
}
.edit-video-destroy:hover {
	color:orange;
}









/*edit_user*/
.mypage-edit-contents {
	margin: 0 150px;
}

.mypage-edit-title {
	font-size: 50px;
	font-family: verdana;
	margin-bottom: 30px;
}
.mypage-edit-text {
	margin:20px;
	width:60%;
	float:left;
}
.edit-image {
	font-size: 30px
}
.edit-name {
	font-size: 30px;
}
.edit-email {
	font-size: 30px;
}
.edit-password {
	font-size: 30px;
}
.mypage-edit-button {
	width: 150px;
}
.mypage-edit-button:hover {
	opacity: 0.6;
}
.edit-button-user {
	padding:10px;
}
.logout-button-user {
	color: #a966f4;
	width: 160px;
}
.logout-button-user:hover {
	color:orange;
}











